.sideNav{
    position: fixed;
    right: -200px;
    background: $label;
    height: 100vh;
    width:200px;
    transition: all 500ms linear;
    z-index: 10;
}
.sideNav.active {
    right : 0;
}
.sideNav ul li {
    list-style: none;
    padding: 20px 30px;
    border-bottom: 1px solid #ddd;
}
.sideNav .btn {
    position: absolute;
    right: 230px;
    top: 20px;
}
.btn{
    background: none;
    border: none;
}

// background: #B4AAC5;